<!DOCTYPE html>
<html>
  <head>
    <title>Inventory App</title>
  </head>
  <body>
    <h1>Welcome to the Film Inventory App</h1>
    <nav>
      <ul>
        <li><a href="/categories">View Categories</a></li>
        <li><a href="/films">View Films</a></li>
        <li><a href="/actors">View Actors</a></li>
        <li><a href="/directors">View Directors</a></li>
      </ul>
    </nav>
  </body>
</html>
