<!DOCTYPE html>
<html>
  <head>
    <title>New Actor</title>
  </head>
  <body>
    <h1>Create Actor</h1>
    <form action="/actors" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" required />

      <label for="birth_year">Birth Year</label>
      <input type="number" name="birth_year" />

      <label for="nationality">Nationality</label>
      <input type="text" name="nationality" />

      <button type="submit">Create Actor</button>
    </form>

    <a href="/actors">Back to Actors</a>
  </body>
</html>
