<!DOCTYPE html>
<html>
  <head>
    <title>Edit Category</title>
  </head>
  <body>
    <h1>Edit Category</h1>
    <form
      action="/categories/<%= category.category_id %>?_method=PUT"
      method="POST"
    >
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= category.name %>" required />
      <br />
      <label for="description">Description:</label>
      <textarea name="description"><%= category.description %></textarea>
      <br />
    </form>
      <button class="btn" type="submit">Update Category</button>
    </form>
    <a class="btn ghost" href="/categories">Back to Categories</a>
  </body>
</html>
