<!DOCTYPE html>
<html>
  <head>
    <title><%= category.name %></title>
  </head>
  <body>
    <h1><%= category.name %></h1>
    <p><%= category.description %></p>
    <a href="/categories">Back to all categories</a>
  </body>
</html>
